* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(174, 169, 169, 0.348);
  margin: 0;
}

.container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.comic-box-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.fashion-box-img-container {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.box-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.interview-box-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  height: 320px;
  border: 1px solid black;
  border-radius: 8px;
  /* justify-content: center; */
  align-items: end;
  /* padding: 5px; */
  font-size: 30px;
  /* color: white; */
}

.comic-box {
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 400px;
  border: 1px solid black;
  border-radius: 8px;
  /* justify-content: center; */
  align-items: end;
  /* padding: 5px; */
  font-size: 30px;
  /* color: white; */
}

.watch-box {
  display: flex;
  flex-direction: column;
  height: 470px;
  border: 1px solid black;
  border-radius: 8px;
  /* justify-content: center; */
  align-items: end;
  /* padding: 5px; */
  font-size: 30px;
  color: white;
}

/* HEADER */
.header-section {
  display: flex;
  /* height: 88.91px; */
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  width: 1180px;
  height: 50px;
  align-items: center;
  padding: 5px;
  gap: 5px;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
}

.header-logo-image {
  display: flex;
  border-radius: 8px;
  width: 150px;
  height: 38.91px;
  align-items: center;
  justify-content: center;
}

.gogo-logo {
  display: flex;
  width: 119px;
  height: 38.91px;
}

.header-menu {
  display: flex;
  border-radius: 8px;
  width: 700px;
  height: 38.91px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
}

.header-daily-info {
  display: flex;
  border-radius: 8px;
  width: 350px;
  height: 38.91px;
  border: 1px solid black;

  align-items: center;
  justify-content: center;
}

.header-daily-info {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.weather-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-image-celsius {
  display: flex;
}

.weather-image {
  width: 20px;
  height: 20.85px;
}

.date-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-image-celsius {
  display: flex;
}

.date-iamge {
  width: 20px;
  height: 20.85px;
}

.currency-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-image-celsius {
  display: flex;
}
/* HIGHLIGHT SECTION */

.top-highlight-section {
  display: flex;
  width: 1180px;
  height: 385px;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  gap: 5px;
  justify-content: center;
}

.top-highlight-description {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  width: 50%;
  align-items: start;
  justify-content: space-evenly;
  padding-left: 30px;
  box-sizing: border-box;
}

.category-button {
  border-radius: 100px;
  border: 0;
  padding: 8px 15px;
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  transition: all 0.2s ease-in-out;
}

.category-button:hover {
  padding: 10px 20px;
}

.top-highlight-image {
  display: flex;
  /* border: 1px solid black;
  border-radius: 8px; */
  width: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.highlight-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.highlight-readmore {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  inset: 0;
}

.top-highlight-image:hover .highlight-image {
  transform: scale(1.2);
}

.top-highlight-image:hover .highlight-readmore {
  opacity: 1;
}

/* RANDOM HIGHLIGHTS SECTION */

.random-highlight-section {
  display: flex;
  width: 1180px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px;
  gap: 5px;
}

.random-highlight-section div {
  /* display: flex;
  flex-direction: column; */
  /* border: 1px solid black;
  border-radius: 8px; */
  /* justify-content: center;
  align-items: start; */
  width: 290px;
}

/* RANDOM HIGHLIGHT BOX1 */
.random-highlight-box1 {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.random-highlight1 {
  display: flex;
  /* border: 1px solid black;
  border-radius: 8px; */
  width: 263px;
  height: 175px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.random-highlight1-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.random-highlight1-readmore {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  inset: 0;
}

.random-highlight1:hover .random-highlight1-image {
  transform: scale(1.2);
}

.random-highlight1:hover .random-highlight1-readmore {
  opacity: 1;
}

.random-highlight1-description {
  width: 263px;
  height: 44px;
}

.random-highlight1-sharecomment {
  display: flex;
  gap: 40px;
}

/* END OF RANDOM HIGHLIGHT BOX1 */

/* RANDOM HIGHLIGHT BOX2 */

.random-highlight-box2 {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.random-highlight2 {
  display: flex;
  /* border: 1px solid black;
   border-radius: 8px; */
  width: 263px;
  height: 175px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.random-highlight2-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.random-highlight2-readmore {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  inset: 0;
}

.random-highlight2:hover .random-highlight2-image {
  transform: scale(1.2);
}

.random-highlight2:hover .random-highlight2-readmore {
  opacity: 1;
}

.random-highlight2-description {
  width: 263px;
  height: 44px;
}

.random-highlight2-sharecomment {
  display: flex;
  gap: 40px;
}

/* END OF RANDOM HIGHLIGHT BOX2 */

/* RANDOM HIGHLIGHT BOX3 */

.random-highlight-box3 {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.random-highlight3 {
  display: flex;
  /* border: 1px solid black;
   border-radius: 8px; */
  width: 263px;
  height: 175px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.random-highlight3-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.random-highlight3-readmore {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  inset: 0;
}

.random-highlight3:hover .random-highlight3-image {
  transform: scale(1.2);
}

.random-highlight3:hover .random-highlight3-readmore {
  opacity: 1;
}

.random-highlight3-description {
  width: 263px;
  height: 44px;
}

.random-highlight3-sharecomment {
  display: flex;
  gap: 40px;
}

/* END OF RANDOM HIGHLIGHT BOX3 */

/* RANDOM HIGHLIGHT BOX4 */

.random-highlight4 {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.random-highlight4-image {
  max-width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

/* END OF RANDOM HIGHLIGHT BOX4 */
/* END OF RAANDOM HIGHLIGHT SECTION */

/*START STORIES SECTION */

.story-section {
  background-color: white;
  height: 377px;
  width: 1180px;
  margin: 0 auto;
  padding: 5px;
}

.gogo-story-title {
  display: flex;
  padding: 5px;
}

.story {
  height: 280px;
  background-color: gray;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.story-glogo {
  position: absolute;
  top: 0;
  margin: 15px;
}

.story-glogo-img {
  height: 37px;
  width: 37px;
}

.story-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.story-title {
  color: white;
  font-size: 16px;
  margin: 12px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  height: 39px;
  overflow: hidden;
  transition: height 0.5s;
}

.story-see-result {
  color: white;
  font-size: 16px;
  margin: 12px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
}

.story:hover .story-img {
  transform: scale(1.2);
}

.story:hover .story-title {
  height: 60px;
}

/* END OF STORY SECTION */

/* NEWS SECTION */
/* START OF REGULAR NEWS SECTION */

.news-section {
  display: flex;
  background-color: white;
  width: 1180px;
  margin: 0 auto;
  height: 3160px;
  justify-content: space-between;
  padding: 5px;
}

/* START OF NAVIGATION */

.news-navigation {
  display: flex;
  gap: 5px;
  width: 800px;
}

.news-today-title-icon {
  display: flex;
  width: 800px;
  justify-content: left;
  align-items: center;
}

.news-today-title {
  display: flex;
}

.news-today-icon {
  width: 23px;
  height: 26px;
}

/* 
.nav-bars div {
  display: flex;
  border-top: 5px solid black;
  border-color: #b7b6b6;
  width: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: #b7b6b6;
} */

.nav-date2:hover,
.nav-date3:hover,
.nav-date4:hover,
.nav-date5:hover {
  border-color: blue;
  color: blue;
}

.nav-bars {
  display: flex;
  gap: 5px;
  padding: 5px;
  width: 800px;
  justify-content: space-evenly;
}

.nav-date1 {
  border-top: 5px solid blue;
  border-color: blue;
  /* width: 100px; */
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: blue;
}

.nav-date2,
.nav-date3,
.nav-date4,
.nav-date5 {
  border-top: 5px solid #b7b6b6;
  border-color: #b7b6b6;
  /* width: 100px; */
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: #b7b6b6;
}

.calendar-button {
  display: flex;
  border-radius: 8px;
  background-color: #b7b6b6;
  width: 27px;
  height: 27px;
  align-items: center;
  justify-content: center;
}

/* END OF NAVIGATION */

/* START OF REGULAR NEWS  */

.regular-news-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  align-items: center;
  width: 800px;
}

.regular-news-lists {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* padding: 5px; */
  gap: 5px;
}

.regular-news-lists div {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  height: 190px;
}

.regular-news-box {
  display: flex;
  gap: 10px;
}

.regular-news-description {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.regular-news-description div {
  margin: 5px;
}

.regular-news-img-container {
  display: flex;
  width: 263px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.regular-news-readmore {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  inset: 0;
}

.regular-news-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.regular-news-img-container:hover .regular-news-img {
  transform: scale(1.2);
}

.regular-news-img-container:hover .regular-news-readmore {
  opacity: 1;
}

.regular-news-text {
  height: 18px;
  overflow: hidden;
  line-height: 18px;
}

.regular-news-result {
  display: flex;
  align-items: end;
}

.more-regular-news {
  display: flex;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 8px;
  background-color: gainsboro;
  width: 700px;
  height: 65px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.more-news-icon {
  width: 17px;
  height: 21px;
}

/* END OF REGULAR NEWS SECTION */
/* START OF IMPORTANT NEWS SECTION */

.important-trend-news-section {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.important-news {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  width: 330px;
  height: 1350px;
  align-items: start;
  padding: 5px;
  gap: 25px;
}

.important-news-main-title {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 5px;
}

.tree-icon {
  width: 25px;
  height: 30px;
}

.important-news-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.important-news-description {
  display: flex;
  flex-direction: column;
  /* width: 65%;
  height: 150px; */
}

.important-news-description div {
  margin: 5px;
}

.important-news-img-container {
  display: flex;
  position: relative;
  width: 330px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}

.important-news-img {
  max-width: 100%;
  width: 330px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.5s;
}

.important-news-text {
  height: 18px;
  overflow: hidden;
  line-height: 20px;
}

.important-news-result {
  display: flex;
  align-items: end;
}

.important-news-img-container:hover .important-news-img {
  transform: scale(1.2);
}

.important-news-img-container:hover .regular-news-readmore {
  opacity: 1;
}

/* END OF IMPORTANT NEWS SECTION */
/* START OF TREND NEWS SECTION */

.trend-news {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  width: 330px;
  height: 1850px;
  padding: 5px;
  gap: 25px;
  background-color: blanchedalmond;
}

.trend-news-main-title {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 5px;
}

.trend-news-box {
  display: flex;
  gap: 5px;
  align-items: start;
  justify-content: center;
}

.trend-news-numbers {
  color: red;
  height: 148.5px;
  display: flex;
  align-items: center;
}

.trend-news-description {
  display: flex;
  flex-direction: column;
  /* width: 65%;
  height: 150px; */
}

.trend-news-description div {
  margin: 5px;
}

.trend-news-result {
  display: flex;
  align-items: end;
}

/* END OF TREND NEWS SECTION */
/* START OF INTERVIEW SECTION */

.interview-section {
  display: flex;
  flex-direction: column;
  width: 1180px;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
}

.interview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px;
  height: 570px;
  gap: 5px;
}

.interview-main-mic-title {
  display: flex;
  align-items: center;
}

.interview-main-title {
  display: flex;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 5px;
}

.interview-mic-icon {
  width: 20px;
  height: 25px;
}

.interview-box {
  height: 280px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 30px;
  box-sizing: border-box;
  position: relative;
  color: white;
  overflow: hidden;
}

/* .interview-box-description{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  padding: 30px;
  align-items: center;
  justify-content: center;
} */

.interview-box-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.interview-category {
  display: flex;
  background-color: rgba(0, 128, 255, 0.541);
  width: fit-content;
  color: white;
  font-size: 16px;
  margin: 12px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: left;
  border-radius: 8px;
  padding: 5px;
}

.interview-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.interview-title {
  color: white;
  font-size: 16px;
  margin: 12px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  height: 39px;
  overflow: hidden;
  transition: height 0.5s;
}

.interview-box:hover .interview-box-img {
  transform: scale(1.2);
}

.interview-box:hover .interview-title {
  height: 60px;
}

/* END OF INTERVIEW SECTION */

/* FASHION SECTION
fashion container */

.fashion-section {
  background-color: white;
  height: 377px;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.fashion-box-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.fashion-box-img-container:hover .fashion-box-img {
  transform: scale(1.2);
}

.fashion-box-img-container:hover .highlight-readmore {
  opacity: 1;
}

/* TECH SECTION
tech container */

.tech-section {
  background-color: white;
  height: 377px;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.tech-main-icon-title{
  display: flex;
  align-items: center;
  
}

.tech-icon-img{
  width: 20px;
  height: 25px;
}

/* COMIC SECTION
comic container */

.comic-section {
  background-color: white;
  height: 550px;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.comic-main-icon-title{
  display: flex;
  align-items: center;
}

.comic-icon-img{
  width: 27px;
  height: 25px;
}

/* WATCH SECTION
watch container */

.watch-section {
  background-color: black;
  height: 1050px;
}

.watch-title {
  width: 1180px;
  margin: 0 auto;
  padding: 5px;
}

.watch-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  height: 1000px;
  width: 1180px;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.watch-box-img-container {
  display: flex;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.watch-box-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.5s;
}

.watch-title {
  display: flex;
  color: white;
  align-items: center;
}

.watch-box-img-container:hover .watch-box-img {
  transform: scale(1.2);
}

.watch-box-img-container:hover .highlight-readmore {
  opacity: 1;
}

.playbutton-icon-img{
  width: 27px;
  height: 25px;
}

/* FOOTER SECTION */

.footer-section {
  display: flex;

  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  background-color: white;
  padding: 10px;
}

/* .footer-logo {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  width: 150px;
  height: 38.91px;
  justify-content: center;
  align-items: center;
} */

.footer-text {
  display: flex;

  width: 1030px;
  height: 38.91px;
  /* border: 2px solid black;
  background-color: white; */
  /* margin: 0 auto; */
}

.footer-text h3 {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  /* width: 130px; */
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.footer-bottom {
  display: flex;
  padding: 5px;
  background-color: white;
}

.footer-year {
  border: 1px solid black;

  padding: 5px;
}

.footer-social-logo {
  display: flex;
  margin-left: 488px;
}

.footer-social-logo h3 {
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 0.5;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.footer-social-logo {
  display: flex;
  gap: 5px;
  padding: 5px;
}

/* MEDIA WIDTH */
